table {
    table-layout: fixed;
}

table td {
    vertical-align: middle !important;
}
.signal {
    width: 43px;
    height: 30px;
    display: block;
    text-decoration: none;
    background: url('../img/wifi_icons.png');
    background-size: 256px; 
    /* This can be used to scale the wifi icons down. 
     * Offsets will ahve to be recalculated*/
}
.signal5 { background-position: -215px  0; }
.signal4 { background-position: -172px  0; }
.signal3 { background-position: -129px  0; }
.signal2 { background-position: -86px  0; }
.signal1 { background-position: -43px   0; }
.signal0 { background-position: 0       0; }

.bars5 { color: #00A651; }
.bars4 { color: #00A651; }
.bars3 { color: #FDB913; }
.bars2 { color: #FDB913; }
.bars1 { color: #ED1C24; }
.bars0 { color: #ED1C24; }

#graph {
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
}
